# Mission to Mars

In [567]:
# Import BeautifulSoup
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import os
import re
import time

In [568]:
# Import Splinter and set the chromedriver path
from splinter import Browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=True)

## NASA MARS News

In [569]:
## NASA MARS News Visit the following URL
url = "https://mars.nasa.gov/news/"
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')
# Retrieve page with the requests module

In [570]:
results = soup.find(True,{'class':['list_date','_self']})

In [571]:
results = soup.select_one('li.slide')

In [572]:
title = results.find('div',class_='content_title').get_text()
title

'Mars 2020 Rover: T-Minus One Year and Counting '

In [573]:
# teaser - from first article
teaser = results.find('div',class_='article_teaser_body').get_text()
teaser

"The launch period for NASA's next rover, Mars 2020, opens exactly one year from today, July 17, 2020, and extends through Aug. 5, 2020."

## JPL Mars Space Images - Featured Image

In [740]:
from splinter import Browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [741]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')
# Retrieve page with the requests module

In [742]:
# landing page
big_part = soup.find('section', class_="centered_text clearfix main_feature primary_media_feature single")
big_part

<section class="centered_text clearfix main_feature primary_media_feature single">
<div class="carousel_container">
<div class="carousel_items">
<article alt="Eyes in the Sky" class="carousel_item" style="background-image: url('/spaceimages/images/wallpaper/PIA08097-1920x1200.jpg');">
<div class="default floating_text_area ms-layer">
<h2 class="category_title">
</h2>
<h2 class="brand_title">
				  FEATURED IMAGE
				</h2>
<h1 class="media_feature_title">
				  Eyes in the Sky				</h1>
<div class="description">
</div>
<footer>
<a class="button fancybox" data-description="NASA's Hubble and Spitzer telescopes combined to make these shape-shifting galaxies taking on the form of a giant mask. The icy blue eyes are actually the cores of two merging galaxies, called NGC 2207 and IC 2163, and the mask is their spiral arms." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA08097_ip.jpg" data-link="/spaceimages/details.php?id=PIA08097" data-title="Eyes in the Sky" id="full_image">
					FULL IMAGE
				  </a>
</footer>
</div>
<div class="gradient_container_top"></div>
<div class="gradient_container_bottom"></div>
</article>
</div>
</div>
</section>

In [744]:
pic = big_part.article['style']
pic

"background-image: url('/spaceimages/images/wallpaper/PIA08097-1920x1200.jpg');"

In [745]:
featured = pic.split("'")
featured

['background-image: url(',
 '/spaceimages/images/wallpaper/PIA08097-1920x1200.jpg',
 ');']

In [747]:
#join link with base url
half_img = 'https://www.jpl.nasa.gov/'
almost = featured[1]
final_img = half_img + almost
final_img

'https://www.jpl.nasa.gov//spaceimages/images/wallpaper/PIA08097-1920x1200.jpg'

## Mars Weather

In [597]:
#Use Pandas to scrape Mars weather twitter site and decode the list
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=True)
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')
# Retrieve page with the requests module

In [598]:
# result = soup.find('li', class_='js-stream-item stream-item stream-item')
# result

In [599]:
for elem in soup(text=re.compile(r'InSight sol')):
    tweet = (elem)

In [600]:
#Latest Weather Tweet
tweet

'InSight sol 207 (2019-06-26) low -103.9ºC (-155.1ºF) high -25.0ºC (-12.9ºF)\nwinds from the SE at 4.3 m/s (9.5 mph) gusting to 15.8 m/s (35.4 mph)\npressure at 7.60 hPa'

In [601]:
#results = soup.find(class_='js-tweet-text-container p.class')
# results = soup.select_one('ol.stream-items').get_text
###result = soup.find('div', class_='js-tweet-text-container').find('p').get_text()
#result = soup.find('div', class_='stream-container')

## Mars Facts

In [602]:
# Use Pandas to scrape table on Mars Facts
url = 'https://space-facts.com/mars/'

In [603]:
# Use Panda's `read_html` to parse the url
### BEGIN SOLUTION
tables = pd.read_html(url)
tables
### END SOLUTION

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [604]:
# Isolate date on Mars
# Assign the columns `['abb', 'full_name', 'other']`
### BEGIN SOLUTION
mars_df = tables[1]
mars_df.columns = ['Facts', 'Data']
mars_df

                  Facts                           Data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [605]:
# Drop df index column
mars_df.set_index('Facts', inplace = True)
mars_df

                                               Data
Facts
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [607]:
#standard header row
mars_df.columns.name = mars_df.index.name
mars_df.index.name = None
mars_df

Facts                                          Data
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [ ]:
# pandas to html
#for Facts in marsfacts:
 #       print(Facts, df.loc[Facts].Data)
# print(mars_df.to_html())
mars_tbl = (mars_df.to_html())
print(mars_tbl)

## Mars Hemispheres

In [509]:
from splinter import Browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [514]:
html = browser.html
soup = bs(html, 'html.parser')

In [511]:
links = browser.find_by_css("a.product-item h3")
len(links)

4

In [449]:
#hemisphere title
html = browser.html
soup = bs(html, 'html.parser')
result2 = soup.find('h2',class_= 'title')
titles = result2.text
titles

'Cerberus Hemisphere Enhanced'

In [512]:
# scrape image and title to seperate dictionaries then to main list.
del hemisphere_image_urls [:]
hemisphere_image_urls = []


for i in range(len(links)):
    browser.find_by_css("a.product-item h3")[i].click()
    html = browser.html
    soup = bs(html, 'html.parser')    
    hemi_link = soup.find('a', {'target': '_blank', 'href': True}).get('href')
    result2 = soup.find('h2',class_= 'title')
    titles = result2.text
    thisdict = {"title": titles, "img_url": hemi_link}
    hemisphere_image_urls.append(dict(thisdict))
    hemi_link 
    browser.back()

In [513]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]